---
layout: default
title: Projects
---

<div class="container">
    <h2> Projects </h2>
    <p> Differnt projects which I involve actively...</p>
    {% assign sorted_projects = site.projects | sort: "display_position" %}

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for project in sorted_projects %}
        {% if project.show %}
        
        <div class="col">
            <a href="{{ project.url }}"></a>
                <div class="card h-100" style="width: 18rem;">
                        <img  class="bd-placeholder-img card-img-top" src={{ project.display_image }} style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">{{project.project_title}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ project.url }}" class="btn btn-primary">Read more</a>
                        </div>
                        {% if project.status == "ongoing" %}
                        <div class="card-footer">
                            <small class="badge text-bg-success">{{ project.status }}</small>
                        </div>
                        {% endif %}
                </div>
            </a>
            
        </div>
        {% endif %}
        {% endfor %}
        

    </div>
        
    
    
    
</div>
